@import 'variables';

body.transparent, html.transparent {
  background-color: transparent !important;
}

.stream-overlay {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: transparent !important;
}

.pack-opening-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: transparent !important;
}

.pack-opening-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 9999;
}

.opened-cards-stream {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 20;
}

.cards-container-stream {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 5vh;
}

.card-wrapper-stream {
  width: 126px;
  height: 189px;

  opacity: 0;
  transform: translateY(100px) scale(0.5);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card-wrapper-stream.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.card-wrapper-stream .card-content-stream {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card-wrapper-stream .card-inner-stream {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: translateZ(0);
}

.card-wrapper-stream.face-up .card-inner-stream {
  transform: rotateY(180deg);
}

.card-back-stream, .card-front-stream {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--surface-darker, #2a2d31);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5%;
}

.card-front-stream {
  transform: rotateY(180deg);
}

.card-back-stream img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* Add this new style for the pack ripping message */
@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(20px); }
  20% { opacity: 1; transform: translateY(0); }
  80% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); }
}

.pack-ripping-message {
  position: absolute;
  text-align: center;
  bottom: 128px;
  left: 0;
  right: 0;
  margin: 0 20%;
  color: white;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
  animation: fadeInOut 4s ease-in-out forwards;
  padding: 0.2rem 1rem;
  border-radius: var(--border-radius);

  b {
    color: $brand-primary;
  }
}

.queue-display {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: var(--border-radius);
  z-index: 50;
  max-width: 300px;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  span {
    font-size: 3rem;
  }
}

.queue-display ol {
  padding-left: 1.5rem;
  margin: 0;
}
